/* Montserrat-Medium */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/Montserrat-Medium.woff2') format('woff2');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Montserrat-Regular */
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/Montserrat-Regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Oswald-Medium */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/Oswald-Medium.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/Oswald-Medium.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* Common */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  min-width: 1278px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

/* Header */
.header {
  padding: 31px 0 30.24px 0;
  background-color: #66D1FF;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 98px ;
}

a {
  text-decoration: none;
  color: #060D10;
}

.menu-logo {
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  color: inherit;
}

.header-btn {
  padding: 8px 41px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background-color: #FFF;
  border: 3px solid #fff;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.menu-phone {
  display: inline-block;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}


/* Promo */
.promo {
  color: #FFF;
  background-image: url('../images/bgpromo.png');
  background-color: #060D10;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.promo-fade {
  background-color: rgba(6, 13, 16, 0.25);
  padding: 240px 0 260px;
  margin: 0 auto;
}

.promo-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
  margin-bottom: 60px;
}

.promo-info {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-shadow: 1px 1px 2px #060D10;
}


/* Description */
.description {
  color: #060D10;
  background: rgba(102, 209, 255, .1);
  padding: 170px 0 100px;
}

.description-title {
  margin: 0 0 100px 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.description-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding: 35px 98px ;
}

.description-item {
  flex-basis: calc(33% - 15px);
  margin-bottom: 70px;
  padding: 0px;
  list-style: none;
  min-width: 406px;
}

.description-caption {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}

.description-text {
  font-size: 26px;
  line-height: 36px;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* Order */
.order {
  color: #060D10;
  background: linear-gradient(208.35deg, rgba(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
  text-align: center;
  padding: 0 0 180px;
}

.order-info {
  border-top: 1px solid rgba(6, 13, 16, .5);
  padding-top: 170px;
}

.order-text {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #060D10;
}

.order-btn {
  display: inline-block;
  min-width: 513px;
  padding: 20px 107px;
  margin-top: 80px;
  margin-bottom: 152px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  background: none;
  border: 3px solid #060D10;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.foto-block {
  display: flex;
  justify-content: space-around;
  margin: 130px 81px 180px;
}

.foto-img {
  flex-basis: calc(25% - 15px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 0 15px;
}

/* Footer */
.footer {
  background-color: #060D10;
  color: #FFFFFF;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 98px ;
}

.footer-link {
  display: flex;
  justify-content: space-between;
}

.text-join {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: #fff;
}

.social {
  padding: 0;
  display: flex;
  list-style: none;

}

.social-item {
  margin-left: 20px;
}

.social-item:first-child {
  margin-left: 50px;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}